aiofiles
aiohttp
dnspython
ffmpeg-python
gitpython
httpx[http2]==0.25.2
motor
pillow==9.5.0
psutil
git+https://github.com/pytgcalls/pytgcalls.git
git+https://github.com/pytgcalls/tgcalls.git
pytgcrypto
kurigram
python-dotenv
pyyaml
requests
uvloop; sys_platform != "win32"
yt-dlp
