aiofiles
aiohttp
dnspython
ffmpeg-python
gitpython
httpx[http2]==0.25.2
motor
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pytgcalls==3.0.0.dev21
pytgcrypto
kurigram
python-dotenv
pyyaml
requests
uvloop; sys_platform != "win32"
yt-dlp
